.container-first-section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.first-section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.first-section-text h1 {
    font-size: 3rem;
    width: 35rem;
    font-weight: 600;
}

.first-section-text p {
    font-size: 1rem;
    font-weight: 600;
    width: 35rem;
    margin-top: 2rem;
}

.banner img {
    height: 100vh;
}

.pitch-section {
    background-color: black;
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
}

.video-container {
    position: relative;
    width: 50%;
    max-width: 760px;
    height: 0;
    padding-bottom: 28.125%;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pitch-texto {
    color: white;
    width: 40%;
}

.pitch-texto h2 {
    font-size: 2.4rem;
    font-weight: 600;
    width: 100%;
    text-align: right;
}

.pitch-texto p {
    text-align: right;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    margin-left: auto;
}

.app-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem;
    position: relative;
    overflow: hidden;
    min-height: 750px;
}

.app-text-section {
    width: 90%;
    margin: 4rem 0;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-s-title h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
}

.text-s-title p {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1.5rem;
}

.app-cards-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.card-row {
    display: flex;
    justify-content: center;
    gap: 5rem;
    width: 100%;
}

.card {
    width: 22rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    padding: 1.8rem;
    border-radius: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    margin-right: 1rem;
    transition: transform 0.5s ease;
}

.card img:hover {
    transform: scale(1.08);
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
    white-space: nowrap;
}

.card p {
    font-size: 1.1rem;
    font-weight: 400;
}

.app-image-section {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
}

.app-image-section img {
    height: 800px;
    object-fit: contain;
    position: absolute;
    right: -50px;
    bottom: -50px;
}